<header class="header">
    <div class="header__title">
        <h1>
            When
            <span class="highlight">bankist</span>
            meets<br/>
            <span class="highlight">minimalist</span>
        </h1>
        <h4>A simpler banking experience for a simpler life</h4>
        <button (click)="scroller.scrollTo('features')" class="btn--text">Learn more &DownArrow;</button>
        <img src="/images/hero.png" alt="Minimalist bank items" class="header__img" />
    </div>
</header>